<%- include('part/header.ejs') %> 

<body>
  <%- include('part/menu.ejs') %> 
    <style>

    </style>
    <h1 class="px-2">Horaire du <% if(campus){%>campus <%= campus.toUpperCase() %><%} %> </h1>
    <button onclick="downloadImg()" class="btn btn-primary mx-2 mb-3">Télécharger l'horaire en image</button>
    <div style="overflow: scroll;">
      <div class="p-4"  id="tablehoraire" style="padding-right: 50px;background: white; overflow: visible;">
        <table  class="table table-striped table-bordered mx-4" style="background: white;">
      <tbody style="background: white;" >
        
          
        <%  for(let i=0;i<data.length;i++)
{%><tr><%
  for(let j=0;j<data[i].length;j++)
  {%>
   <td <%if(data[i][j] && data[i][j].length>40 && i<2 && (data[i][j].search("HORAIRE") > 0 || (data[i][j].search("horaire")))){%>colspan="<%= data[i+1].length%>" <%}%>><%=data[i][j]%></td><%if(data[i][j] && data[i][j].length>40 && i<2 && (data[i][j].search("HORAIRE") > 0 || (data[i][j].search("horaire")))){j=data[i].length}%><%
  }%></tr><%
} 
%>
        
      </tbody>
        </table>
      </div>
    </div>
  </body>
  <script src="/javascripts/dom-to-image.js"></script>
<script>
  function downloadImg(){
    try {
      domtoimage.toJpeg(document.getElementById('tablehoraire'), { quality: 0.95,bgcolor: "white"})
    .then(function (dataUrl) {
        var link = document.createElement('a');
        const today = new Date();
        const todayDate = today.getDate() + "_" + (today.getMonth() + 1) + "_" + today.getFullYear();
        link.download = 'horaire des cours lumiere '+ todayDate +'.jpg';
        link.href = dataUrl;
        link.click();
    });
    } catch (e) {
      alert("Cette fonctionalité n'est pas supporter par ce navigateur. Veuillez utiliser Google chrome ou firefox");
    }
  
  }
</script>
</html>
