<%- include('part/header.ejs') %> 

<body>
    <%- include('part/menu.ejs') %> 
  <div class="mx-4"> 
      <% try{
        if(listecampus.length>0){
        %>
        <h1 class="mx-4" style="text-align: center;">
      Choisir le campus que vous voulez consulter l'horaire
    </h1>
    <div class="row row-cols-1 row-cols-md-2  g-4" style="padding: 10px 30px;">
        <%listecampus.forEach(element => {
          %>
          <div class="col my-2" style="min-width: 400px;">
        <div class="card">
          <div class="card-body">
            <a style="text-decoration: none;color:inherit;" class="card-title" href="/<%= element%>">
              <h2>Campus <%= element.toUpperCase()%></h2>
            </a>
            <p class="card-text">Voir l'horaire du campus <%= element%></p>
            <a href="/<%= element%>" class="btn btn-primary">Voir</a>
          </div>
        </div>
      </div>
          <%
        });%>
    </div>  
      <%}else
      {
        %>
        <h1 style="margin: 20px;text-align: center; font-weight: 500;">
      IL n'y a pas encore d'horaire qui a été publié.
    </h1>
        <%
      }
      }catch{
        %>
        <h1 style="margin: 20px;text-align: center; font-weight: 500;">
      IL n'y a pas encore d'horaire qui a été publié.
    </h1>
        <%
      } %> 
      
      
    
  </div> 
  </body>
</html>
