<%- include('part/header.ejs') %> 

<body>
    <%- include('part/menu.ejs') %> 
    
    <%
        if(data.length>0)
        {%>
          <h1 style="text-align: center;">Choisir la faculté dont vous voulez voir l'horaire</h1>
        <ul class="list-group list-group-flush" style="margin: 10px auto; max-width: 400px; list-style: none;">  
        <%
        data.forEach(element => {
            %>
            <li >
               <a class="list-group-item list-group-item-action" href="<%= '/'+campus+'/'+element %>"><%= element %></a> 
            </li>
            <%
        });
        %>
        </ul>
        <%
    }else
    {
        %><h1 style="text-align: center; margin: 40px 0;">L'horaire du campus <%=campus.toUpperCase()%> n'est pas encore publier</h1><%
    }
    %>
    
</body>
</html>